[submodule "lib/compat53"]
	path = lib/compat53
	url = https://github.com/lunarmodules/lua-compat-5.3.git
[submodule "lib/hashmap"]
	path = lib/hashmap
	url = https://github.com/tidwall/hashmap.c.git
